<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Is It Christmas?</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/christmas.css" />
    <link rel="SHORTCUT ICON" type="image/x-icon" href="./images/christmas.png" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>