<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <script type="text/javascript" src="javascripts/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="javascripts/controller.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>