<script type="text/javascript" src="../javascripts/showingredients.js">
</script>

<table id="ingredients">

</table>

<h1>Add An Ingredient</h1>
<input type="text"  placeholder="Name of Ingredient" name="name" id="name" /><br />
<input type="number" placeholder="Price" name="price" step="0.1" id="price" /><br />
<input type="submit" onclick="addData()" />