<script type="text/javascript" src="../javascripts/priceupdate.js">
</script>
<script type="text/javascript" src="../javascripts/showorderable.js">
</script>

<table id="order_space">

</table>

<input type="submit" value="Order" onclick="sendData()" />

<p>Price: <span id="total_price">$0.00</span></p>